# Data papkalari - GitHubga yuklanmasin
data/profiles/*
!data/profiles/README.md
data/uploads/
data/outputs/

# Fayllar
settings.json
subjects.json
students_data.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version

# Environment
.env
.venv
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~